@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.main {
  background-color: aqua;
  padding: 36px 32px 0px 35px;
  width: 308px;
}
.pic-synchronicity img {
  width: 52px;
  height: 31px;
  margin-bottom: 44px;
}
.inform-study {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.inform {
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 10px;
  margin-right: 20px;
}
.pic-globus img,
.pic-clock img,
.pic-calendar img {
  width: 11px;
  height: 11px;
  margin-right: 3px;
}
.header {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 37px;
  width: 300px;
  margin-bottom: 18px;
}
.header-inform {
  width: 210px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 10px;
}
.pic-rejissor-street {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 39px;
}
.pic-rejissor-street img {
  width: 142px;
  height: 175px;
}
.blue-board {
  background-color: #1e4681;
  padding: 10px;
  width: 225px;
  height: 93px;
  margin-bottom: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.quote {
  color: #ffffff;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 13px;
}
.author-of-quote {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 11px;
  text-align: right;
}
.title-course-one {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 20px;
}
.title-course-two {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 27px;
}
.title-course-three {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 26px;
  margin: 46px 0px 25px 0px;
}
.title-course-fourth {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 45px;
}
.first-course-article {
  margin-bottom: 20px;
}
.course-main {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 15px;
}
.pic-cameraman {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pic-cameraman img {
  width: 170px;
  height: 160px;
  margin-bottom: 65px;
}
.period-course {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.pic-rejissor img {
  display: none;
}
.title-period {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
}
.about-period {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 10px;
  width: 85px;
  margin: 0px 27px 25px 0px;
}
.about-form {
  display: flex;
  flex-direction: column;
}
.title-form {
  color: #1e4681;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
}
.article-form {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 10px;
  width: 170px;
  margin-bottom: 28px;
}
.list-of-learning {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 0px 0px 60px -23px;
}
.program-of-course {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.program {
  width: 186px;
  height: 145px;
  border: 1px solid gray;
  border-radius: 16px;
  margin-bottom: 24px;
}
.pic-program img {
  width: 186px;
  height: 75px;
}
.title-program {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 12px;
  margin: 0px 0px 12px 10px;
}
.last {
  margin-bottom: 5px;
}
.lastest {
  margin-bottom: 47px;
}
.article-program {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 10px;
  width: 115px;
  margin: 0px 0px 0px 10px;
}
.part-of-student {
  background-color: #efefef;
  width: 307px;
  padding: 42px 34px 50px;
}
.title-of-student {
  font-family: "Roboto", sans-serif;
  width: 260px;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 20px;
}
.frame-of-student {
  background-color: #ffffff;
  border-radius: 14px;
  padding: 15px 15px 5px;
}
.by-student {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 10px;
  margin-bottom: 10px;
}
.pic-student img {
  width: 80px;
  height: 84px;
}
.pic-fb img {
  width: 14px;
  height: 17px;
}
.footer-of-student {
  display: flex;
  flex-direction: row;
}
.right-footer-of-student {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.name-of-student {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 14px;
  margin: 10px 0px 20px 0px;
}
.footer-one {
  background-color: #9dc9c8;
  width: 309px;
  padding: 62px 33px 60px;
}
.title-of-footer {
  width: 225px;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 28px;
}
.amount {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.price {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 37px;
  margin-bottom: 30px;
}
.mini-title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 7px;
}
.footer-article {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 10px;
}
.edge-of-footer-one {
  display: flex;
  flex-direction: row;
}
.first {
  margin-right: 30px;
}
.footer-two {
  width: 335px;
  background-color: yellow;
  padding: 23px 0px 15px 40px;
}
.pic-synchronicity-twice img {
  margin-bottom: 14px;
}
.icon {
  display: flex;
  flex-direction: row;
}
.icon div {
  margin-right: 7px;
}
.icon img {
  width: 16px;
  height: 16px;
}
.pic-icon-phone img {
  width: 13px;
  height: 13px;
}
.pic-icon-mail{
  width: 13px;
  height: 10px;
}
.part-of-wrap {
  flex-wrap: wrap;
}
.footer-direction{
  display: flex;
  flex-direction: row;
}
